* {
    box-sizing: border-box;
}
a {
    color: black;
}
a:hover {
    color: black;
    text-decoration: none;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 25px;
}
header > h1 {
    margin: 0;
    font-size: 20px;
}
header > h1 span {
    font-size: 22px;
    font-weight: bold;
    color: rgb(230, 83, 120);
}

hr {
    margin: 0;
}

/* 리뷰 전체 페이지 */
.order_std {
    text-align: center;
    margin-top: 20px;
}
.list_container {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    width: 80%;
    margin: 30px auto 0 auto;
}
.list_container > div {
    background-color: rgb(236, 236, 236);
    padding: 15px;
    margin: 10px;
}
.list_container h2 {
    font-size: 22px;
    font-weight: bold;
}

/* 리뷰 상세 페이지 */
.delete_btn_form {
    display: inline-block;
}
.delete_btn_form > input {
    border: none;
    background: transparent;
}

.detail_content {
    width: 90%;
    margin: 0 auto;
}
.detail_content > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.detail_content > ul, .detail_content > p {
    background-color: rgb(236, 236, 236);
    padding: 15px;
}
.detail_content > ul {
    list-style: none;
}
.detail_content > ul span {
    color: gray;
}

/* 리뷰 생성, 수정 페이지 */
.create_form, .update_form {
    width: 60%;
    padding: 20px 40px;
    margin: 30px auto 0 auto;
    background-color: rgb(236, 236, 236);
}
.create_form > h2, .update_form > h2 {
    padding: 15px;
    border-bottom: 1px solid lightgray;
    margin: 0 0 15px 0;
    font-size: 20px;
    text-align: center;
}