@import './reset.css';

.post {
    width: 300px;
    padding: 20px;
    border: 1px solid black;
    margin: 30px;
}

.content {
    padding: 10px;
    border: 1px solid black;
}

.like {
    color: red;
}
.like:hover {
    cursor: pointer;
}

.comment > p {
    display: flex;
    justify-content: space-between;
    padding: 2px 5px;
    border-bottom: 1px solid black;
}
.post > input {
    width: 70%;
    height: 20px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}
.post > button {
    width: 25%;
    padding: 5px;
    border: 1px solid black;
}
.post > button:hover, .xBtn:hover {
    cursor: pointer;
}
.xBtn {
    border: none;
}