{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My SW Ideas Manage</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1><a href="/">My SW Ideas Manage</a></h1>
        <nav>
            <ul>
                <li><a href="/idea/create/">아이디어 등록</a></li>
                <li><a href="/">아이디어 관리</a></li>
                <li><a href="/devtool/create/">개발툴 등록</a></li>
                <li><a href="/devtool/">개발툴 관리</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <script src="{% static 'js/app.js' %}"></script>
</body>
</html>