{% extends 'myApp/base.html' %}

{% block content %}
    {% for idea in ideas %}
        <div>
            <img src="{{ idea.image.url }}" width="150" height="150">
            <span class="star star{{ idea.id }}" id="{{ idea.id }}" onclick="star(this.id)">☆</span>
            <p><a href="/idea/{{ idea.id }}">{{ idea.title }}</a></p>
            <p>예상 개발 툴 : {{ idea.devtool }}</p>
            <p>
                아이디어 관심도:
                <button type="button" id="{{ idea.id }}" onclick="increase(this.id)">+</button>
                <span id="interest{{ idea.id }}">{{ idea.interest }}</span>
                <button type="button" id="{{ idea.id }}" onclick="decrease(this.id)">-</button>
            </p>
            <hr>
        </div>
    {% endfor %}
{% endblock %}