{% extends 'myApp/base.html' %}

{% block content %}
    <select name="order_std" id="order_std" onchange="if(this.value) location.href=(this.value);">
        <option value="">--정렬기준--</option>
        <option value="/idea/order/title/">이름순</option>
        <option value="/idea/order/reg/">등록순</option>
        <option value="/idea/order/latest/">최신순</option>
        <option value="/idea/order/starred/">찜하기순</option>
    </select>
    {% for idea, star in idea_dic %}
        <div>
            <img src="{{ idea.image.url }}" width="150" height="150">
            <span class="star star{{ idea.id }}" id="{{ idea.id }}" onclick="star(this.id)">{{ star }}</span>
            <p><a href="/idea/{{ idea.id }}">{{ idea.title }}</a></p>
            <p>예상 개발 툴 : {{ idea.devtool }}</p>
            <p>
                아이디어 관심도:
                <button type="button" id="{{ idea.id }}" onclick="increase(this.id)">+</button>
                <span id="interest{{ idea.id }}">{{ idea.interest }}</span>
                <button type="button" id="{{ idea.id }}" onclick="decrease(this.id)">-</button>
            </p>
            <hr>
        </div>
    {% endfor %}
{% endblock %}