.star {
    position: relative;
    right: 30px;
    bottom: 130px;
    color: yellow;
}
.star:hover {
    cursor: pointer;
}
.detail-star {
    color: rgb(240, 240, 4);
}

#order_std {
    margin-bottom: 30px;
}