{% extends 'myApp/base.html' %}

{% block content %}
    <form action="" method="post" class="update_form">
        {% csrf_token %}
        <h2>Movie review 🌭</h2>
        <hr>
        <div>
            <label for="title">제목:</label>
            <input type="text" name="title" id="title" value="{{ review.title }}">
        </div>
        <div>
            <label for="release_year">개봉년도:</label>
            <input type="text" name="release_year" id="release_year" value="{{ review.release_year }}">
        </div>
        <div>
            <label for="genre">장르:</label>
            <input type="text" name="genre" id="genre" value="{{ review.genre }}">
        </div>
        <div>
            <label for="rate">별점:</label>
            <input type="text" name="rate" id="rate" value="{{ review.rate }}">
        </div>
        <div>
            <label for="running_time">러닝타임:</label>
            <input type="text" name="running_time" id="running_time" value="{{ review.running_time }}">
        </div>
        <div>
            <label for="content">리뷰:</label>
            <br>
            <textarea name="content" id="content" cols="30" rows="10">{{ review.content }}</textarea>
        </div>
        <div>
            <label for="director">감독:</label>
            <input type="text" name="director" id="director" value="{{ review.director }}">
        </div>
        <div>
            <label for="lead">배우:</label>
            <input type="text" name="lead" id="lead" value="{{ review.lead }}">
        </div>
        <input type="submit" value="Save">
    </form>
{% endblock %}