{% extends 'myApp/base.html' %}

{% block content %}
    <a href="/review/{{ review.id }}/update/">수정</a>
    <form action="/review/{{ review.id }}/delete/" method="post">
        {% csrf_token %}
        <input type="submit" value="삭제">
    </form>

    <h2>{{ review.title }}</h2>
    <ul>
        <li>개봉년도 {{ review.release_year }}년</li>
        <li>감독 {{ review.director }}</li>
        <li>주연 {{ review.lead }}</li>
        <li>장르 {{ review.genre }}</li>
        <li>별점 {{ review.rate }}</li>
        <li>러닝타임 {{ running_hour }}시간 {{ running_min }}분</li>
    </ul>
    <p>{{ review.content }}</p>
{% endblock %}