{% extends 'myApp/base.html' %}

{% block content %}
    <form action="/review/{{ review.id }}/update/" method="post">
        {% csrf_token %}
        <input type="submit" value="수정">
    </form>
    <form action="/review/{{ review.id }}/delete/" method="post">
        {% csrf_token %}
        <input type="submit" value="삭제">
    </form>

    <h2>{{ review.title }}</h2>
    <ul>
        <li>개봉년도 {{ review.release_year }}년</li>
        <li>감독 {{ review.director }}</li>
        <li>주연 {{ review.lead }}</li>
        <li>장르 {{ review.genre }}</li>
        <li>별점 {{ review.rate }}</li>
        <li>러닝타임 {{ review.running_time }}</li>
    </ul>
    <p>{{ review.content }}</p>
    {% endblock %}